@import url("base.css"); /* Import base.css */

.login-container {
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 40px;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    width: 400px;
    max-width: 90%; /* Add this line */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    max-width:84px;
    height: auto;
}