<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Assessment</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body class="actual-exam-ui">
    <!-- ====================Top navbar ======================== -->
    <nav class="navbar navbar-default navbar-fixed-top test-navbar">
      <div class="container-fluid">
     
        <div class="navbar-header">
          <a
            type="button"
            class="navbar-brand text-uppercase"
            title="Combined Graduate Level Examination, 2023"
            href="javascript:void(0)"
          >
            <span id="examName">
              Combined Graduate Level Examination, 2023
            </span>
          </a>
        </div>

    
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- ============================= Top navbar ends ========================== -->

    <!--================= Main Section Starts ==========================-->
    <div id="page" class="u-mob-sidebar solutions-page">
      <div class="left-box">
        <div class="test-sections-lists d-flex">
          <h5 class="sl-title">Sections</h5>
          <div class="sl-inner test-sections-scroll sl-solution">
            <ul id="sectionNavTabs" class="nav nav-pills sections-list">
              <!-- ngRepeat: section in test.sections track by $index -->
              <li class="dropdown active">
                <a data-target="#section0"
                  ><span class="hidden-xs ng-binding">Test</span>
                  <span class="visible-xs ng-binding">Tes</span></a
                >
                <ul
                  id="section0Summary"
                  class="dropdown-menu sections-list-details"
                  role="menu"
                  style="width: 250px"
                >
                  <li>
                    <div class="col-xs-12">
                      <h6 class="ng-binding">Test</h6>
                    </div>
                  </li>
                  <li>
                    <div class="col-xs-12">
                      <h4>
                        <span class="label correct-answer pull-right ng-binding"
                          >17</span
                        ><small translate="" class="ng-scope">Correct</small>
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="col-xs-12">
                      <h4>
                        <span class="label wrong-answer pull-right ng-binding"
                          >3</span
                        ><small translate="" class="ng-scope">Incorrect</small>
                      </h4>
                    </div>
                  </li>
                  <li>
                    <div class="col-xs-12">
                      <h4>
                        <span
                          class="label unattempted-que pull-right ng-binding"
                          >5</span
                        ><small translate="" class="ng-scope"
                          >Unattempted</small
                        >
                      </h4>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- end ngRepeat: section in test.sections track by $index -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--================== Main Section Ends ============================= -->

    <!-- Sidebar starts here -->
    <div id="sidebar" class="right-box">
      <button type="button" class="toggle-sidebar-btn js-toggle-sidebar-btn">
        <i class="tb-icon tb-arrow-left-thin"></i>
        <i class="tb-icon tb-arrow-right-thin"></i>
      </button>
      <div class="sidebar-content on-solution-page">
        <div class="student-details">
          <div class="dropdown pull-right test-question-filters">
            <button
              type="button"
              class="btn dropdown-toggle pad-h0 text-gray-9"
              data-toggle="dropdown"
            >
              <!-- ngIf: ( testSolutionsFilter.isCorrect || testSolutionsFilter.isIncorrect || testSolutionsFilter.isUnattempted || testSolutionsFilter.isSaved || testSolutionsFilter.skipOptionSelected) && isFilterActive -->
              <i class="tb-icon tb-filter"></i> Filter
            </button>
            <ul
              class="dropdown-menu dropdown-menu-right pad-b0"
              style="min-width: 200px"
            >
              <li class="d-arrow"></li>
              <li class="filter-item js-stop-propagation">
                <div
                  class="filter-count ng-binding"
                  ng-class="{ 'disabled' : testSummaryArr[0].correct == 0}"
                >
                  17
                </div>
                <label
                  class="tb-checkbox"
                  ng-class="{ 'disabled' : testSummaryArr[0].correct == 0}"
                  ><input
                    type="checkbox"
                    name="filterQueCorrect"
                    ng-model="testSolutionsFilter.isCorrect"
                    class="ng-pristine ng-untouched ng-valid ng-empty"
                  />
                  <span class="text-capitalize">Correct</span></label
                >
              </li>
              <li class="filter-item js-stop-propagation">
                <div
                  class="filter-count ng-binding"
                  ng-class="{ 'disabled' : testSummaryArr[0].incorrect == 0}"
                >
                  3
                </div>
                <label
                  class="tb-checkbox"
                  ng-class="{ 'disabled' : testSummaryArr[0].incorrect == 0}"
                  ><input
                    type="checkbox"
                    name="filterQueIncorrect"
                    ng-model="testSolutionsFilter.isIncorrect"
                    class="ng-pristine ng-untouched ng-valid ng-empty"
                  />
                  <span class="text-capitalize">Incorrect</span></label
                >
              </li>
              <li class="filter-item js-stop-propagation">
                <!-- ngIf: hasSkipOptionSupport --><!-- ngIf: !hasSkipOptionSupport --><ng-container
                  ng-if="!hasSkipOptionSupport"
                  class="ng-scope"
                  ><div
                    class="filter-count ng-binding"
                    ng-class="{ 'disabled' : testSummaryArr[0].unattempted == 0}"
                  >
                    5
                  </div>
                  <label
                    class="tb-checkbox"
                    ng-class="{ 'disabled' : testSummaryArr[0].unattempted == 0}"
                    ><input
                      type="checkbox"
                      name="filterQueUnattempted"
                      ng-model="testSolutionsFilter.isUnattempted"
                      class="ng-pristine ng-untouched ng-valid ng-empty"
                    />
                    <span class="text-capitalize">Unattempted</span></label
                  ></ng-container
                ><!-- end ngIf: !hasSkipOptionSupport -->
              </li>
              <li class="filter-item js-stop-propagation">
                <!-- ngIf: hasSkipOptionSupport -->
              </li>
              <li class="filter-item js-stop-propagation">
                <div
                  class="filter-count ng-binding disabled"
                  ng-class="{ 'disabled' : testSummaryArr[0].bookmarked == 0}"
                >
                  0
                </div>
                <label
                  class="tb-checkbox disabled"
                  ng-class="{ 'disabled' : testSummaryArr[0].bookmarked == 0}"
                  ><input
                    type="checkbox"
                    name="filterQueSaved"
                    ng-model="testSolutionsFilter.isSaved"
                    class="ng-pristine ng-untouched ng-valid ng-empty"
                  />
                  <span class="text-capitalize">Saved</span></label
                >
              </li>
              <li class="pad-h16 pad-v8">
                <div class="row">
                  <div class="col-xs-6 pad-l12 pad-r4">
                    <button
                      type="button"
                      class="btn btn-sm btn-block btn-primary disabled"
                      ng-class="{'disabled': !(testSolutionsFilter.isCorrect || testSolutionsFilter.isIncorrect || testSolutionsFilter.isUnattempted || testSolutionsFilter.isSaved || testSolutionsFilter.skipOptionSelected)}"
                      ng-click="applyFilter()"
                    >
                      Apply
                    </button>
                  </div>
                  <div class="col-xs-6 pad-r12 pad-l4">
                    <button
                      type="button"
                      class="btn btn-sm btn-block btn-danger disabled"
                      ng-class="{'disabled': !isFilterActive}"
                      ng-click="resetFilter()"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <span
            class="img"
            ng-style="{'background-image': 'url(' + dpSrc + ')'}"
            style="
              background-image: url('//cdn.testbook.com/static/assets/assets/img/utility/tb-avatar.svg');
            "
          ></span>
          <span class="ng-binding">SAGAR</span>
        </div>
        <div class="q-possible-states">
          <div class="col-xs-4 pad-r0">
            <span class="label correct-answer u-legend-indicator ng-binding"
              >17</span
            >
            <span class="qps-state">Correct</span>
          </div>
          <div class="col-xs-4 pad-l0 pad-r0">
            <span class="label u-legend-indicator ng-binding">5</span>
            <span class="qps-state">Unattempted</span>
          </div>
          <div class="col-xs-4 pad-l0">
            <span class="label wrong-answer u-legend-indicator ng-binding"
              >3</span
            >
            <span class="qps-state">Incorrect</span>
          </div>
          <div class="col-xs-4 pad-r0">
            <span class="label partial-correct u-legend-indicator ng-binding"
              >0</span
            >
            <span class="qps-state">Partially Correct</span>
          </div>
          <!-- ngIf: hasSkipOptionSupport -->
        </div>
        <div class="time-indicators">
          <div class="mar-b8">
            <span class="font-size-small font-weight-semibold text-uppercase"
              >Speed Indicators</span
            >
          </div>
          <div class="row mar-h0">
            <div class="col-xs-3 text-center pad-0">
              <i
                class="tb-icon tb-super-happy font-size-medium text-success mar-b4"
              ></i>
              <div class="font-size-smaller">Superfast</div>
            </div>
            <div class="col-xs-3 text-center pad-0">
              <i
                class="tb-icon tb-happy font-size-medium text-success mar-b4"
              ></i>
              <div class="font-size-smaller">On Time</div>
            </div>
            <div class="col-xs-3 text-center pad-0">
              <i class="tb-icon tb-sad font-size-medium text-danger mar-b4"></i>
              <div class="font-size-smaller">Slow</div>
            </div>
            <div class="col-xs-3 text-center pad-0">
              <i
                class="tb-icon tb-poker-face font-size-medium text-secondary mar-b4"
              ></i>
              <div class="font-size-smaller">On Time but not Correct</div>
            </div>
          </div>
        </div>
        <div class="questions-number-holder new-rly-interface">
          <!-- ngRepeat: section in test.sections track by $index -->
          <div
            class="qnh-inner slim-scrollbar ng-scope"
            ng-show="currentQuestion.sSNo -1 == $index"
            id="section0"
            ng-repeat="section in test.sections track by $index"
          >
            <!-- ngIf: section.title != '' -->
            <div
              class="mob-sidebar-section ng-binding ng-scope"
              ng-if="section.title != ''"
            >
              <span>Section :</span> Test
            </div>
            <!-- end ngIf: section.title != '' -->
            <ul class="questionList slim-scrollbar hide-on-desktop">
              <!-- ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer current-question"
              
              >
                1 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                2 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope wrong-answer"
              
              >
                3 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                4 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                5 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                6 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                7 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                8 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                9 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                10 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                11 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                12 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope wrong-answer"
              
              >
                13 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                14 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                15 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope wrong-answer"
              
              >
                16 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                17 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                18 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope"
              
              >
                19 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                20 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope correct-answer"
              
              >
                21 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope"
              
              >
                22 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope"
              
              >
                23 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope"
              
              >
                24 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
              <li
                class="label ng-binding ng-scope"
              
              >
                25 <i class="tb-icon tb-bookmark"></i>
              </li>
              <!-- end ngRepeat: question in section.questions | filter : {isShow : true} -->
            </ul>
          </div>
          <!-- end ngRepeat: section in test.sections track by $index -->
        </div>
        <div class="marks-action">
          <ul id="mainBtnBox" class="main-btn-box" role="tablist">
            <li>
              <button
                class="btn btn-info-test btn-block"
                type="button"
                ng-click="setTab('qpaper');"
              >
                Question Paper
              </button>
            </li>
            <li>
              <button
                class="btn btn-info-test btn-block"
                type="button"
                data-target="#summaryModal"
                data-toggle="modal"
              >
                Summary
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Sidebar ends here -->
  </body>
</html>
