*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #f5f8fa;
    font-family: sans-serif !important;
    height: auto;
}
.actual-exam-ui {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.test-navbar{
    background-color: #fff;
    z-index: 42;
}

.navbar .navbar-header a{
    font-size: 12px !important;
}

.actual-exam-ui .u-mob-sidebar {
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    bottom: 0;
    background-color: #fff;
    overflow-x: hidden;
}
.actual-exam-ui .u-mob-sidebar.solutions-page {
    top: 64px;
}


.actual-exam-ui .left-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 300px;
    z-index: 1;
}

.actual-exam-ui .test-sections-list {
    position: relative;
    height: 40px;
    padding: 5px 16px 0;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.actual-exam-ui .test-sections-list .sl-inner {
    position: absolute;
    left: 100px;
    right: 145px;
    top: 0;
    bottom: 0;
    padding-top: 6px;
}
.actual-exam-ui .test-sections-list .sl-title {
    font-size: 12px;
    display: inline-block;
    margin: 10px 0 0;
    text-transform: uppercase;
    padding-right: 10px;
    font-weight: 500;
    border-right: 1px solid #ddd;
}
.actual-exam-ui #sectionNavTabs.nav {
    overflow: auto;
    white-space: nowrap;
}

#sectionNavTabs {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.actual-exam-ui .test-sections-list .sections-list {
    margin: 0 auto;
    display: block;
    width: calc(100% - 60px);
}

.actual-exam-ui .right-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    border-left: 1px solid #ddd;
    background: #fff;
    z-index: 41;
}

.actual-exam-ui .toggle-sidebar-btn {
    position: absolute;
    width: 16px;
    height: 50px;
    background: #333;
    top: 0;
    bottom: 0;
    border: none;
    outline: 0;
    border-radius: 2px 0 0 2px;
    margin: auto 0;
    left: -17px;
    color: #fff;
    padding: 0;
    font-size: 80%;
    display: block;
}

.actual-exam-ui .student-details {
    position: relative;
    float: left;
    width: 100%;
    padding: 4px 16px;
    border-bottom: 1px solid #ddd;
}

.actual-exam-ui .q-possible-states {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.actual-exam-ui .questions-number-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    bottom: 92px;
}